[Unit]
Description=Tuis domotica voor jou framboos
After=network-online.target
Wants=network-online.target

[Service]
Environment="LC_ALL=NL.UTF-8"
Environment="LANG=NL.UTF-8"
Type=exec
User=pi
ExecStart=/home/pi/venv/homeassistant/bin/hass

[Install]
WantedBy=multi-user.target
