[Unit]
Description=Teamspeak bediener met box86 emulatie
After=network-online.target
Wants=network-online.target

[Service]
Environment="LC_ALL=NL.UTF-8"
Environment="LANG=NL.UTF-8"
WorkingDirectory=/usr/local/share/teamspeak3-server_linux_x86
Type=exec
User=pi
ExecStart=/usr/local/share/teamspeak3-server_linux_x86/ts3server

[Install]
WantedBy=multi-user.target
