[Unit]
Description=Webmidi op poort 8080 ref--> https://github.com/AndrewClaes/midi-recorder
After=network-online.target
Wants=network-online.target

[Service]
Environment="LC_ALL=C.UTF-8"
Environment="LANG=C.UTF-8"
Type=simple
Restart=always
User=pi
Group=pi
ExecStart=/usr/bin/npm start

[Install]
WantedBy=multi-user.target
