[Unit]
Description=Open-webui AI website https://github.com/opwen-webui
After=network-online.target
Wants=network-online.target

[Service]
Environment="LC_ALL=C.UTF-8"
Environment="LANG=C.UTF-8"
WorkingDirectory=/home/pi
Type=exec
User=pi
ExecStart="/home/pi/.local/bin/open-webui start"

[Install]
WantedBy=multi-user.target
